{% extends 'opensource/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title_block %}
    <h1>Add New Student</h1>
{% endblock %}

{% block main_block %}
{#    <form method="POST"> {% csrf_token %} #cros site request forgery#}
    <form method="POST" class="form"> {% csrf_token %}
        {{ student_form.as_p }}

        <button type="submit">Save</button>
        <button type="reset">Reset</button>
    </form>
{% endblock %}
</body>
</html>